<h1>Display Person</h1><br />

<p>First Name: @Model.firstName</p>
<p>Last Name: @Model.lastName</p>
<p>Age: @Model.age</p>
<p>Email Address: @Model.email</p>
<p>Date of Birth: @Model.dob</p>
<p>Password: @Model.password</p>
<p>Description: @Model.desc</p>  <br />

@Html.ActionLink("Go Home", "Index", "Home")